@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/Inter-SemiBold.woff2') format('woff2');
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  max-width: 1200px;
  min-width: 375px;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: Inter, sans-serif;
  font-size: 15px;
  color: #000000;
  background-color: #ffffff;
}

#root {
  height: 100%;
  overflow-x: hidden;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
}
