.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  color: #a5a5a5;
  background-color: transparent;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;

  &:hover {
    color: #4a4a4a;
    background-color: #d8d8d8;
  }
}
