.item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 10px;

  &.withLink {
    transition: all 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
      border-color: #4a4a4a;
    }
  }
}

.titleLink {
  color: inherit;
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 10px;
  }
}

.title {
  margin: 0;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 500;
}

.info {
  display: flex;
  align-items: center;
}

.extra {
  font-size: 12px;
  color: #646464;
}

.actionList {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  list-style: none;
}

.actionButton {
  position: relative;
  z-index: 2;
}
