.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.56;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 25px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
}

.title {
  margin: 0;
  margin-top: -10px;
  margin-bottom: 15px;
  padding-right: 37px;
  font-size: 20px;
  font-weight: 500;
}

.closeButton {
  position: absolute;
  top: 9px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  padding: 7px;
  color: #a5a5a5;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;

  &:hover {
    color: #4a4a4a;
  }
}
